.outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: #f8f9fa;
  }
  
  .text-center {
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .outer-container {
      padding: 20px; 
    }
  }
  